header .hidden {
    display: none;
}

header {
    padding: 1rem 0;
}

/* Menu icon */
header .hamburger-menu {
    margin-inline: 1.4rem;
}
header .hamburger-menu > span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--on-background-color-variant);
}
    header .hamburger-menu > span:not(:last-child) {
        margin-bottom: 4px;
    }
    
header .logo {
    margin-inline: 1.4rem;
    transition: opacity var(--standard-transition-time) ease-in-out;
}
    header .logo:hover {
        opacity: 0.75;
    }

header .links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header .links > a {
    position: relative;
    font-size: var(--small-font);
    transition: color var(--standard-transition-time) ease-in-out;
}
header .links > a:not(:last-child) {
    margin-right: 24px;
}
header .links.mobile-only {
    position: static;
    background-color: lightgray;
    margin-top: 10px;
    padding: 25px;
    transform: none;
}
header .links.mobile-only > a {
    display: block;
}
header .links.links.mobile-only > a:not(:last-child) {
    margin-bottom: 15px;
}
header .links > a:hover {
    color: var(--on-background-color);
}
/* Colored underline for links */
header .links > a::before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    bottom: -5px;
    background: var(--primary-color-variant);
    border-radius: 4px;
    opacity: 0;
    transition: opacity var(--standard-transition-time) ease-in-out;
}
    header .links > a:hover::before {
        opacity: 1;
    }

header .cta {
    font-size: var(--small-font);
    margin-inline: 1.4rem;
    transition: opacity var(--standard-transition-time) ease-in-out;
}
    header .cta:hover {
        opacity: 0.75;
    }