@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

p, a, h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Sans", sans-serif;
}

header {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FF7400;
    float: left;
}

    h1 {
        margin-left: 30px;
        float: left;
    }
    
    nav {
        float: right;
        margin-top: 32px;
        margin-bottom: 30px;
    }
    
        nav a {
            float: left;
            margin-right: 20px;
            font-size: 16px;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }
        
        nav a:hover {
            text-decoration: underline;
        }

.banner {
    width: 1000px;
    height: 400px;
    background-image: url(../img/open-sign.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    clear: both;
}