@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

p, a, h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Sans", sans-serif;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin: 25px auto;
}

input {
    width: 230px;
    margin: 0 auto;
    padding: 10px;
    display: block;
    clear: both;
    border: 1px solid #0097B3;
    font-family: "Droid Sans", sans-serif;
    font-size: 16px;
    text-align: center;
}

input[type=submit] {
    background-color: #00D8FF;
}

img {
    max-width: 400px;
    max-height: 300px;
}

.clearfix {
    clear: both;
}

header .container {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #FF7400;
    float: left;
    overflow: auto;
}

    h1 {
        margin-left: 30px;
        float: left;
    }
    
    nav {
        float: right;
        margin-top: 32px;
        margin-bottom: 30px;
    }
    
        nav a {
            float: left;
            margin-right: 20px;
            font-size: 16px;
            font-weight: bold;
            color: black;
            text-decoration: none;
        }
        
        nav a:hover {
            text-decoration: underline;
        }

span {
    display: block;
    width: 1200px;
    margin: 0px auto;
    clear: both;
}

    .banner .container {
        width: 1200px;
        height: 500px;
        background-image: url(../img/open-sign.jpeg);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        clear: both;
    }
    
    .feature .container { overflow: auto; }
    
    #left_feature {
        width: 600px;
        height: 330px;
        background-image: url(../img/car-keys.jpeg);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        float: left;
        clear: left;
    }
    
    #right_feature {
        width: 600px;
        height: 330px;
        background-image: url(../img/mechanic-tools.jpeg);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        float: right;
        clear: right;
    }
        
        #right_feature h2 {
            width: 350px;
            background-color: gray;
            background-size: 300px;
        }
        
    .content .container {
        width: 900px;
        margin: 400px auto;
        clear: both;
        overflow: auto;
    }
        
        .content .container img:first-child {
            float: left;
            clear: left;
            margin-bottom: 50px
        }
        
        .content .container p:first-of-type {
            width: 400px;
            float: right;
            clear: right;
            margin-bottom: 50px;
        }
        
        .content .container p:last-of-type {
            width: 400px;
            float: left;
            clear: left;
        }
        
        .content .container img:last-child {
            float: right;
            clear: right;
        }
        
    .map-locator .container {
        width: 1000px;
        clear: both;
        margin: 0 auto;
        margin-top: 100px;
    }
    
        map { display: none; }
    
        map, #address-bar {
            float: left;
            clear: left;
        }
        
        #address-bar {
            width: 500px;
            height: 100px;
            background-color: #E66700;
        }
        
        #map-sidebar {
            float: right;
            clear: right;
            background-color: #FF7400;
            width: 500px;
            height: 360px;
        }